.construcao-title {
    font-family: var(--common-title);
    font-weight: 500;
    font-size: 4em;
    text-transform: uppercase;
}

.easter-egg-botos {
    font-family: var(--common-text);
    font-weight: 400;
    text-transform: uppercase;
}
