@media only screen and (min-width: 729px) {

    .container-body h4 {
        font-family: var(--common-title);
        font-weight: 500;
        font-size: 2.5rem;

    }

    .container-img-centralizado {
        display: flex;
        width: 100%;
        padding: 2%;
        margin-bottom: 10vh;
        /* border: 1px solid red; */
    }

    .wrapper-exemplos-app {
        display: flex;
        width: 70%;
        margin-left: 10%;
        /* border: 1px solid red; */
    }

    .mobile-img {
        margin-left: 4% !important;
        margin-right: 4% !important;
    }

    .container-text-topo-fiorino{
        display: flex;
        width: 100%;
        overflow: visible;
        /* border: 1px solid red; */
        
    }

    .fiorino-text {
        font-size: 1.25rem !important;
        text-align: left;
        overflow: visible;
    }

    .fiorino-img {
        float: right;
        width: 50%;
    }

    .container-meu-impacto-sobre-cliente {
        display: flex;
        width: 100%;
    }

    .wrapper-meu-impacto {
        display: flex;
        width: 50%;
    }

    .user-statement-subtitle {
        margin-top: -7.5%;
    }

    .highlight-ajuste {
        font-weight: 600 !important; 
        font-size: 1em !important;
        color: var(--dark-green);
    }

    .container-margin-small {
        margin-bottom: 2.5vh;
        margin-top: 2.5vh;
    }

    .container-margin-medium {
        margin-bottom: 6vh;
        margin-top: 6vh;
    }

    .container-margin-big {
        margin-bottom: 12vh;
        margin-top: 12vh;
    }

    .side-by-side-row {
        font-family: var(--common-title);
        font-weight: 400 !important;
        font-size: 3rem !important; 
        margin-right: 7%;
    }

    .h-container {
        margin-top: -4%;
    }

    .p-padding-adjust {
        padding-right: 3% !important;
        text-align: left;
    }

    .background-persona {
        background-image: url("../assets/persona-davi/davi-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .persona-davi {
        display: inline-block;
        width: 85%;
        height: auto;
        z-index: 3;
        object-fit: scale-down;
        margin-right: -10%;
        margin-top: -3%;
    }

    .minor-font {
        font-size: 0.86rem !important;
    }

    .not-so-minor-font {
        font-size: 1rem;
    }

    .medium-title-font {
        font-size: 1.5rem;
    }

    .skill-status-line {
        line-height: 2.5em;
    }

    .skill-status {
        width: 90%;
        height: auto;
        object-fit: contain;
        justify-self: center;
        align-self: center;
        position: relative;
        top: 0.35em;
        padding: 4.25%;

    }

    .skill-status-adjust {
        padding: 6%;
        top: 0.01em;
        left: 0.5em;
    }

    .ajuste-persona {
        font-size: 1.5rem;
    }

    .container-persona-titulo {
        margin-bottom: -15%;
        margin-top: -15%;
    }

    .ajuste-subtitulo-persona-davi {
        margin-bottom: 0.5em;
    }

    .ajuste-skill-persona {
        margin-top: -2%;
    }

    .card-ui-kit {
        width: 22%;
        height: auto;
        margin-right: 0.75em;
    }

    .tons-cinza {
        width: 10.7% !important;
    }

    .flexible-img {
        max-width: 100%;
        height: auto;
        padding: 5px;
    }

    @media screen and (min-width: 1920px) {
    

        .fiorino-text {
            font-size: 1.75rem !important;
        }

        .skill-status {
            width: 100%;
            top: 0em;
            margin-right: 2.5em;
        }

        .skill-status-adjust {
            width: 90% !important;
            top: -0.5em;
            left: 0;
        }

        .ajuste-persona {
            font-size: 2.5rem;
        }

        .ajuste-skill-persona {
            margin-top: 0;
        }

        .ajuste-subtitulo-persona-davi {
            margin-bottom: 1em;
        }

        .container-persona-titulo {
            margin-bottom: -15%;
            margin-top: -15%;
        }

        .not-so-minor-font {
            font-size: 1.5rem;
        }

        .wide-font-subtitle {
            font-size: 1.25rem !important;
        }
        .wide-font-title {
            font-size: 1.8rem !important;
        }

    }
}