@media screen and (max-width: 728px){
    .mobile-header-wrapper {
        display: flex;
        background-color: #F5F5F5;
        height: 5vh;
        padding: 3%;
        width: 100%;
        justify-content: center;
    }

    .desktop-header-wrapper {
        display: none;
    }

    .mobile-header-container {
        padding: 2%;
    }

    .hamburger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 1000;
    }

    .hamburger .bar {
        width: 15%;
        height: 3px;
        background-color: #333;
        margin-bottom: 2%;
    }

    .rotate-over-45-bar {
        transform: rotate(45deg);
    }

    .hidden-bar {
        visibility: hidden;
    }

    .rotate-under-45-bar {
        transform: rotate(-45deg);
        margin-top: -4.7%;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
        z-index: 10;
    }

    .overlay.active {
        display: block;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        padding: 10%;
        width: 50%;
        height: 70vh;
        background-color: #F4F4F4;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 11;
    }
      
    .menu.active {
        transform: translateX(0);
    }
    .menu-item-clickable.active {
        border-bottom: 1px solid var(--text-standard-color);
    }

    .menu-hamburguer-sub-menu li:nth-child(1) {
        margin-top: 5%;
    }

    .menu-hamburguer-sub-menu {
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        display: none;
    }

    .menu-hamburguer-sub-menu.active {
        transform: translateY(0);
        display: block;
    }

    .logo-menu {
        margin-top: 5%;
    }

      .logo-menu span {
        font-family: 'Anek Latin';
        font-weight: 500;
        font-size: 1.1em;
        text-transform: uppercase;
        
      }
      
      .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .menu li {
        margin-bottom: 15px;
        text-transform: uppercase;
      }
      
    .menu a, span {
        text-decoration: none;
        color: var( --text-standard-color);
        font-family: var(--common-text);
        font-size: 1rem;
    }
    
    .menu-hamburguer-sub-menu li {
        margin-left: 5%;
    }

    .menu-hamburguer-sub-menu a {
        font-size: 0.8rem  !important;
    }

    .logo-img {
        width: 24px;
        height: auto;
        object-fit: scale-down;
    }

    #logo-img-mobile {
        margin-left: 25%;
        justify-self: center;
    }

    #logo-img-mobile-menu {
        margin-right: 3%;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
    }

    .lang {
        justify-content: center;
    }

    #lang-icon {
        display: flex;
        width: 20px;
        height: auto;
        object-fit: scale-down;
    }

    .arrow {
        position: relative;
        top: 55%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .arrow::after{
        content: url('../assets/arrow-down.png');
        display: inline-block;
        font-size: 14px;
    }

    .header-links-wrapper{
        justify-content: flex-end;
        display: inline-flex;
        position: relative;
        bottom: 0.15vh;
        left: 2.5vw;
        max-width: 100%;
        padding: 10px;
    }

    .link-header {
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 0.45em;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        margin: auto 2vw;
    }

    .container-body {
        width: 96vw;
        height: auto;
        display: flex;
        align-items: center;
        margin-left: 2vw;
        flex-direction: column;
    }

    .container-topo {
        display: flex;
        height: 50%;
    }

    .container-right-foto {
        display: flex;
        width: 50%;
    }

    .container-left-intro {
        display: flex;
        width: 50%;
    }

    .intro {
        margin-bottom: -10px;
    }

    .titulo-intro {
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 500;
        font-size: 1.3rem;
    }

    .conteudo-intro {
        font-family: 'Jost', sans-serif;
        font-weight: 300;
        font-size: 10px;
    }

    .foto-wrapper {
        position: relative;
        width: 100%;
    }

    #vinicius-foto {
        max-width: 100%;
        max-height: 100%;
    }

    .arrow-down-wrapper {
        display: flex;
        position: relative;
        width: auto;
        margin-top: 0;
    }

    #big-arrow-image {
        display: flex;
        height: auto;
    }

    .titulo-case {
        width: 80%;
    }

    .titulo-case h5 {
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 400;
        font-size: 1.2em;
    }

    .titulo-case hr {
        border: none;
        height: 2px;
        background-color: #777777;
        position: relative;
        width: 60%;
        right: 20%;
        bottom: 25px;
    }

    .descricao-case {
        display: flex;
        width: 60%;
    }

    .descricao-case p {
        font-family: 'Jost', sans-serif;
        font-weight: 300;
        font-size: 0.6em;
    }

    .estudo-caso {
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 1em;
        text-transform: uppercase;
        cursor: pointer;
        color: #007CB6;
    }

    .container-case {
        display: flex;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 10%;
    }

    .container-left-meio {
        width: 50%;
    }
 
    .container-right-meio {
        display: flex;
        width: 40%;
        position: relative;
    }

    .mobile-img {
        margin-left: 3%;
        margin-right: 3%;
        max-height: 100vh;
        object-fit: scale-down;
    }

    .mobile-img {
        height: min-content;
    }

    .mobile-img-large {
        width: 30%;
    }

    .mobile-img-med {
        width: 25%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .footer-wrapper {
        background-color: #EEEEEE;
        display: flex;
        margin-top: 2vh;
        width: 100vw;
        padding: 0;
        height: auto;
    }

    .footer-title {
        position: relative;
        font-family: var(--common-title);
        font-weight: 400;
        font-size: 0.75em;
    }

    .footer-text-container {
        display: flex;
        flex-direction: column;
        width: 67.5%;
        height: auto;
        margin-left: 10%;
    }

    .footer-text-container p {
        font-family: var(--common-text);
        font-weight: 300;
        font-size: 0.5em;
    }

    .text-footer-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 10%;
    }

    .text-footer-wrapper p:nth-child(2){
        position: relative;
    }

    .contato-container {
        display: flex;
        align-items: center;
        max-width: 100%;
        position: relative;
        height: fit-content;
        margin-top:  0;
    }

    .contato-icon-text {
        margin-right: 3vw;
    }

    .whatsapp-contato {
        display: inline-flex;
        align-items: center;
    }

    .email-contato {
        display: inline-flex;
        align-items: center;
    }

    .linkedin-contato {
        display: inline-flex;
        align-items: center;
    }

    .contato-container p {
        font-family: var(--common-text);
        font-weight: 300;
        font-size: 0.35em;
    }

    .footer-icon {
        width: 12px; 
        height: 12px;
        object-fit: scale-down;
        margin-right: 1vw;
    }


    #copyright-end {
        font-weight: 400;
        position: relative;
    }

    .projetos-links-wrapper  {
        width: 12.5%;
    }

    .projetos-links-wrapper p {
        color: #007CB6;
        font-weight: 400;
        font-family: var(--common-text);
        font-size: 0.45rem;
        text-transform: uppercase;
    }

}