@media only screen and (max-width: 768px){
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #F5F5F5;
        background-image: url("/assets/bg-topo.png");
        background-size: auto;
        background-position: top;
        background-repeat: no-repeat;
        /* font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-family: 'Jost', sans-serif; */
        height: 100%;
    }
    
    header {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        width: auto;
        max-height: 15vh;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        margin-top: 1vw;

    }

    #logo-img {
        width: 42.07px;
        height: 40px;
        justify-self: center;
        margin-right: 1vw;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
    }

    .nome {
        font-family: 'Anek Latin';
        font-weight: 500;
        font-size: 1.75em;
        text-transform: uppercase;
        cursor: pointer;
    }

    .idioma-select-wrapper {
        display: inline-flex;
        align-items: center;
        position: relative;
        padding: 8px;
        left: 0.5vw;

    }

    #lang-icon {
        width: 24px;
        height: 24px;
    }

    #idioma-select {
        appearance: none;
        outline: none;
        border: none;
        background-color: transparent;
        padding: 8px;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 1em;
        
        border-radius: 4px;
    }

    #idioma-select option { 
        appearance: none;
        background-color: #F4F4F4; 
        padding: 8px;
    }

    .arrow-wrapper {
        margin-left: 7.5px;
    }

    .arrow {
        position: absolute;
        top: 55%;
        right: 0px;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .arrow::after{
        content: url('../assets/arrow-down.png');
        display: inline-block;
        font-size: 14px;
    }

    .header-links-wrapper{
        justify-content: flex-end;
        display: inline-flex;
        position: relative;
        bottom: 0.15vh;
        left: 25vw;
        max-width: 100%;
        padding: 20px;
    }

    .link-header {
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 0.9em;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        margin: auto 2vw;
    }

    .container-body {
        width: 96vw;
        height: auto;
        display: flex;
        align-items: center;
        margin-left: 2vw;
        flex-direction: column;
    }

    .container-topo {
        display: flex;
        height: 50%;
    }

    .container-right-foto {
        display: flex;
        width: 50%;
    }

    .container-left-intro {
        display: flex;
        width: 50%;
    }

    .intro {
        margin-bottom: -10px;
    }

    .titulo-intro {
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 500;
        font-size: 2.4rem;
    }

    .conteudo-intro {
        font-family: 'Jost', sans-serif;
        font-weight: 300;
        font-size: 20px;
    }

    .foto-wrapper {
        position: relative;
        bottom: 5vh;
        width: 100%;
    }

    #vinicius-foto {
        max-width: 100%;
        max-height: 100%;
    }

    .arrow-down-wrapper {
        display: flex;
        position: relative;
        width: auto;
        margin-top: 0;
    }

    #big-arrow-image {
        display: flex;
        height: auto;
    }

    .titulo-case {
        width: 80%;
    }

    .titulo-case h5 {
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 400;
        font-size: 2.5em;
    }

    .titulo-case hr {
        border: none;
        height: 2px;
        background-color: #777777;
        position: relative;
        width: 60%;
        right: 20%;
        bottom: 50px;
    }

    .descricao-case {
        display: flex;
        width: 60%;
    }

    .descricao-case p {
        font-family: 'Jost', sans-serif;
        font-weight: 300;
        font-size: 1.25em;
    }

    .estudo-caso {
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 1em;
        text-transform: uppercase;
        cursor: pointer;
        color: #007CB6;
    }

    .container-case {
        display: flex;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 15%;
    }

    .container-left-meio {
        width: 50%;
    }
 
    .container-right-meio {
        display: flex;
        width: 50%;
        position: relative;
    }

    .container-right-meio img {
        margin-left: 3%;
        margin-right: 3%;
    }

    .mobile-img {
        height: min-content;
    }

    .mobile-img-large {
        width: 30%;
    }

    .mobile-img-med {
        width: 25%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .footer-wrapper {
        background-color: #EEEEEE;
        display: flex;
        margin-top: 10vh;
        width: 100vw;
        padding: 0;
        height: auto;
    }

    .footer-title {
        position: relative;
        font-family: var(--common-title);
        font-weight: 400;
        font-size: 1.9em;
    }

    .footer-text-container {
        display: flex;
        flex-direction: column;
        width: 67.5%;
        height: auto;
        margin-left: 10%;
    }

    .footer-text-container p {
        font-family: var(--common-text);
        font-weight: 300;
        font-size: 1em;
    }

    .text-footer-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 10%;
    }

    .text-footer-wrapper p:nth-child(2){
        position: relative;
    }

    .contato-container {
        display: flex;
        align-items: center;
        max-width: 100%;
        position: relative;
        height: fit-content;
        margin-top: -0.5%;
    }

    .contato-icon-text {
        margin-right: 3vw;
    }

    .whatsapp-contato {
        display: inline-flex;
        align-items: center;
    }

    .email-contato {
        display: inline-flex;
        align-items: center;
    }

    .linkedin-contato {
        display: inline-flex;
        align-items: center;
    }

    .contato-container p {
        font-family: var(--common-text);
        font-weight: 300;
        font-size: 0.9em;
    }

    .footer-icon {
        width: 20px; 
        height: 20px;
        margin-right: 1vw;
    }


    #copyright-end {
        font-weight: 400;
        position: relative;
    }

    .projetos-links-wrapper  {
        width: 12.5%;
    }

    .projetos-links-wrapper p {
        color: #007CB6;
        font-weight: 400;
        font-family: var(--common-text);
        font-size: 1rem;
        text-transform: uppercase;
    }

}