@media screen and (max-width: 728px){

    .container-body {
        width: 80vw;
        height: auto;
        display: flex;
        align-items: center;
        margin-left: 10vw;
        flex-direction: column;
    }

    .container-basic-column-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        container: 1px solid red;
    }

    .container-topo {
        display: flex;
        height: 50%;
    }

    .container-right-foto {
        display: none;
    }
    .container-left-intro {
        display: none;
    }


    .titulo-intro {
        font-family: var(--common-title);
        font-weight: 500;
        font-size: 2rem;
    }

    .conteudo-intro {
        font-family: 'Jost', sans-serif;
        font-weight: 300;
        font-size: 1.3rem;
        margin-top: 3%;
    }

    .foto-wrapper {
        position: relative;
        width: 100%;
        object-fit: scale-down;
    }

    #vinicius-foto {
        max-width: 100%;
        max-height: 100%;
    }

    .arrow-down-wrapper {
        display: flex;
    }

    #big-arrow-image {
        display: flex;
        width: 60%;
        height: auto;
    }

    .titulo-case {
        width: 100%;
    }

    .titulo-case h5 {
        font-family: var(--common-title);
        font-weight: 400;
        font-size: 2rem;
    }

    .titulo-case hr {
        border: none;
        height: 2px;
        background-color: #777777;
        position: relative;
        bottom: 25px;
    }

    .hr-comgas {
        width: 50% !important;
        right: 25%;
    }

    .hr-picpay {
        width: 95% !important;
        right: 2.5%;
    }

    .descricao-case {
        display: flex;
        width: 100%;
    }

    .descricao-case p {
        font-family: 'Jost', sans-serif;
        font-weight: 300;
        font-size: 1.25rem;
    }

    .estudo-caso {
        font-family: var(--common-text);
        font-weight: 400;
        font-size: 1em;
        text-transform: uppercase;
        cursor: pointer;
        color: var(--text-button-blue-color);
    }

    .container-case {
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 0;
        margin-bottom: 10%;
    }

    .container-left-meio {
        width:  100%;
    }

    .container-right-meio {
        display: flex;
        width: 100%;
        position: relative;
        margin-top: 15%;
    }

    .mobile-img {
        margin-left: 3%;
        margin-right: 3%;
        max-height: 100vh;
        object-fit: scale-down;
    }

    .mobile-img {
        height: min-content;
    }

    .mobile-img-large {
        width: 30%;
    }

    .mobile-img-med {
        width: 25%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}