
@media only screen and (min-width: 729px) {
    
    body {
        margin: 0;
        background-color: #F5F5F5;
        background-image: url(/assets/bg-topo.png);
        background-size: cover;
        background-position: center;
        /* font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-family: 'Jost', sans-serif; */
    }
    
    header {
        padding: 10px;
    }

    .header-wrapper {
        display: flex;
        width: auto;
        max-height: 15vh;
        margin-left: 5vw;
        margin-top: 1vw;

        border: 1px solid red;
    }

    #logo-img {
        position: relative;
        top: 1.8vh;
    }

    .header-links-wrapper{
        display: inline-flex;
        position: relative;
        bottom: 0.15vh;
        left: 40vw;
        padding: 20px;

        border: 1px solid red;
    }

    .link-header {
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 0.9em;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        margin: auto 2vw;
    }

    .container-body {
        width: 90vw;
        height: 100vh;
        display: flex;
        margin: 5vw;

    }

    .container-right-foto {
        max-width: 43vw;
        margin-left: 48vw;
        margin-top: -40vh;
    }

    .container-left-intro {
        max-width: 40vw;
        margin-top: 15vw;
        margin-left: 4vw;
    }

    .intro {
        margin-bottom: -10px;
    }

    .titulo-intro {
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 500;
        font-size: 2.5em;
    }

    .conteudo-intro {
        font-family: 'Jost', sans-serif;
        font-weight: 300;
        font-size: 20px;
    }

    .foto-wrapper {
        width: 120%;

    }

    #vinicius-foto {
        max-width: 100%;
        max-height: 100%;
    }

}