:root {
    --main-green: #56a50e;
    --dark-green: #397600;
    --light-green: #b0e57e; 
}
@media only screen and (min-width: 729px) {
    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #F5F5F5;
        background-image: url(/assets/bg-topo.png);
        background-size: cover;
        background-position: center;
        /* font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-family: 'Jost', sans-serif; */
    }
    
    header {
        padding: 10px;
    }

    .header-wrapper {
        display: flex;
        width: auto;
        max-height: 15vh;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        margin-top: 1vw;

        /* border: 1px solid red; */
    }

    #logo-img {
        display: block;
        position: relative;
        width: 42.07px;
        height: 40px;
        justify-self: center;
        top: 3.85vh;
        right: 1vw;
        /* border: 1px solid red; */
    }

    .logo-wrapper {
        display: inline-flex;
        position: relative;
        bottom: 2vh;
        margin-right: 10px;
    }

    .nome {
        font-family: 'Anek Latin';
        font-weight: 500;
        font-size: 1.75em;
        text-transform: uppercase;
    }

    .idioma-select-wrapper {
        display: inline-flex;
        position: relative;
        padding: 8px;
        top: 0.5vw;
        left: 0.5vw;

        /* border: 1px solid red; */
    }

    #lang-icon {
        margin-top: 0.8vh;
        width: 24px;
        height: 24px;
    }

    #idioma-select {
        appearance: none;
        outline: none;
        border: none;
        background-color: transparent;
        padding: 8px;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 1em;
        
        border-radius: 4px;
    }

    #idioma-select option { 
        appearance: none;
        background-color: #F4F4F4; 
        padding: 8px;
    }

    .arrow-wrapper {
        margin-left: 7.5px;
    }

    .arrow {
        position: absolute;
        top: 55%;
        right: 0px;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .arrow::after{
        content: url('../assets/arrow-down.png');
        display: inline-block;
        font-size: 14px;
    }

    .header-links-wrapper{
        justify-content: flex-end;
        display: inline-flex;
        position: relative;
        bottom: 0.15vh;
        left: 25vw;
        padding: 20px;

        /* border: 1px solid red; */
    }

    .link-header {
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 0.9em;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        margin: auto 2vw;
    }

    .container-body {
        width: 95vw;
        height: 100%;
        display: flex;
        margin: 5vw;

    }

    .container-topo {
        position: absolute;
        top: 22.5%;
    }

    .container-cases {
        position: absolute;
        top: 100%;
        max-width: 95vw;

        border: 1px solid red;
    }

    .container-right-foto {
        position: relative;
        max-width: 43vw;
        left: 47.5vw;
        bottom: 30vh;
        /* border: 1px solid red; */
    }

    .container-left-intro {
        position: relative;
        max-width: 40.5vw;
        top: 7.5vh;
        left: -2.5vw;
        /* border: 1px solid red; */
    }

    .intro {
        margin-bottom: -10px;
    }

    .titulo-intro {
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: 500;
        font-size: 2.4rem;
    }

    .conteudo-intro {
        font-family: 'Jost', sans-serif;
        font-weight: 300;
        font-size: 20px;
    }

    .foto-wrapper {
        position: relative;
        bottom: 100px;
        width: 100%;
        /* border: 1px solid blue; */


    }

    #vinicius-foto {
        max-width: 100%;
        max-height: 100%;
    }

    .arrow-down-wrapper {
        position: relative;
        bottom: 53vh;
        left: 40vw;
    }

    #big-arrow-image {
        display: block;
        height: auto;
    }


    @media screen and (min-width: 1920px) {

        #logo-img {
            top: 3vh;
        }        

        .logo-wrapper {
            bottom: 1.5vh;
            margin-right: 10px;
        }        
        .header-links-wrapper{
            left: 40vw;
        }
        .titulo-intro {
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            font-weight: 500;
            font-size: 4rem;
        }

        .conteudo-intro {
            font-family: 'Jost', sans-serif;
            font-weight: 300;
            font-size: 2rem;
        }
        
        .arrow-down-wrapper {
            bottom: 50vh;
        }
    }

}